
body{
  font-family: arial;
  background-color: D7E5F5;
  text-align: left;
}

h1{
  padding: 10px 25px 0px;
}

pre{
  text-align: left;
}

.title{
  text-align: center;
  font-size:large;
  font-weight: bold;
}

.td-nice-pad{
  padding: 5px 20px ;
}

/* Unselected Key */
.pickkey0
{
  width: 8%;
  text-align: center;
  border: 0px ;
  padding: 5px 15px ;
}

/* Selected Key */
.pickkey1
{
  width: 8%;
  text-align: center;
  font-weight: bold;
  border: 1px solid black;
  padding: 5px 15px ;
}

.clear-button {
  font-size: 50px;
}

/* Common attributes of all frets */
.fret
{
  font-size:small;
  text-align: center;
  width: 40px;
  border: 1px solid green;
  padding: 4 3 4 3;
}

.plainOff
{
  background-color: E5F0FC;
}

.nutOff
{
  background-color: C9D5E2;
}

.markerOff
{
  background-color: DEE8F3;
}

/* Highlighted spot */
.fretOn
{
  font-weight:bold;
  border-radius: 25px;
  background-color: ffffff;
  padding: 0 0 0 0;
  border: 2px solid green;
}
